@charset 'utf-8';   /* 한글, 특수기호 처리를 위한 코드*/

*{
    box-sizing: border-box;
}

.login-frm{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-contents{
    width: 500px;
    height: 300px;
    border: 1px solid #c5c5c5;
    border-radius: 10px;
    box-shadow: 1px 1px 15px 4px #c5c5c5;
    padding: 1rem 1rem;
}

.header{
    text-align: center;
    margin-bottom: 20px;
}

.input-frm{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

}

.frm-box{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 15px;
}

.label{
    width: 70px;
    text-align: right;
}

.in-txt{
    width: 80%;
    height: 34px;
    border-radius: 7px;
    margin-left: 10px;
    
}

.btn-box{
    text-align: center;
}

.button{
    width: 90px;
    height: 36px;
    font-size: 1.2rem;
    margin: 0 3px;
    color: white;
    background-color: white;
    border: none;
    border-radius: 7px;
}

.btn-join{
    background-color: rgb(21, 21, 210);
}

.btn-login{
    background-color: greenyellow;
}